*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.feature-box{
    width: 100vw;
    height: 85vh;
    background-image: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29mZmVlJTIwbGFwdG9wfGVufDB8fDB8fHww&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 40%;
}
button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
}